:root {
    --mainColor: #3F33FF;
  }
  
  header {
    background-color: var(--mainColor);
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    width: 100px;
    padding: 0;
  }
  
  .list {
    display: flex;
    align-items: center;
  }
  
  .listItem {
    margin-left: 1em;
    margin-right: 1em; /* Agrega margen derecho */
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
  }
  
  
  /* Resto del código CSS */
  
  
  
  
  .activeItem {
    color: #0B065F;
    border-bottom: 0.1em double #fff;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: #fff;
    font-size: 1.5em !important;
    margin-right: 1em;
    margin-left: 1.5em;
  }
  
  
  @media screen and (max-width: 768px) {
    .container {
      width: 100%; /* Ajusta el ancho del contenedor en dispositivos móviles */
    }
  }
  